<a href="https://colab.research.google.com/github/ramiro999/ProyectoEstadistica/blob/main/AnalisisCovid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title **MONTAR EL DRIVE** { display-mode: "form" }
import os
from google.colab import drive

path_ai = "Estadistica" #@param {type:"string"}
path = "/content/drive/My Drive/" + path_ai
drive.mount('/content/drive')
os.chdir(path)
print(os.getcwd())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Estadistica

# **DESCRIPCIÓN**
La enfermedad por coronavirus (COVID-19) es una enfermedad infecciosa causada por un coronavirus recién descubierto. La mayoría de las personas infectadas con el virus COVID-19 experimentarán una enfermedad respiratoria de leve a moderada y se recuperarán sin requerir un tratamiento especial. Las personas mayores y aquellas con problemas médicos subyacentes como enfermedades cardiovasculares, diabetes, enfermedades respiratorias crónicas y cáncer tienen más probabilidades de desarrollar enfermedades graves.
Durante todo el transcurso de la pandemia, uno de los principales problemas que han enfrentado los proveedores de salud es la escasez de recursos médicos y de un plan adecuado para distribuirlos de manera eficiente. En estos tiempos difíciles, ser capaz de predecir qué tipo de recurso podría necesitar una persona en el momento de dar positivo en la prueba o incluso antes será de gran ayuda para las autoridades, ya que podrían obtener y organizar los recursos necesarios para salvar la vida de ese paciente.

El objetivo principal de este proyecto es construir un modelo de aprendizaje automático que, dados los síntomas, el estado y el historial médico actuales de un paciente con Covid-19, prediga si el paciente está en alto riesgo o no.
## BIBLIOGRAFIA
* https://www.kaggle.com/datasets/meirnizri/covid19-dataset?resource=download

In [ ]:
#@title **Load libs** { display-mode: "form" }
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
pd.__version__

'1.3.5'

In [ ]:
CV19 =  pd.read_csv("CovidData.csv")

In [ ]:
CV19.head(18)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
5,2,1,1,2,9999-99-99,2,1,40,2,2,...,2,2,2,2,2,2,2,2,3,2
6,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,9999-99-99,97,1,64,2,1,...,2,1,1,2,2,2,1,2,3,97
8,2,1,1,2,9999-99-99,2,2,37,2,1,...,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,9999-99-99,2,2,25,2,2,...,2,2,2,2,2,2,2,2,3,2
10,2,1,1,1,9999-99-99,97,2,38,2,2,...,2,2,2,2,2,2,2,2,3,97
11,2,1,2,2,9999-99-99,2,2,24,97,2,...,2,2,2,2,2,2,2,2,3,2
12,2,1,2,2,9999-99-99,2,2,30,97,2,...,2,2,2,2,2,2,2,2,3,2
13,2,1,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,3,97
14,2,1,1,1,9999-99-99,97,2,48,2,1,...,2,2,2,2,2,2,2,2,3,97
15,2,1,1,1,9999-99-99,97,2,23,2,2,...,2,2,2,2,2,2,2,2,3,97
16,2,1,1,2,9999-99-99,2,1,80,2,2,...,2,2,1,2,2,2,2,2,3,1
17,2,1,2,1,9999-99-99,97,2,61,97,2,...,2,2,2,2,2,2,2,2,3,97